.main-footer {
  font-size: 10px;
  line-height: 12px;
}

.footer-navigation-topics {
  font-size: 14px;
  line-height: 16px;

  h2 {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  a {
    color: #163152;
    text-decoration: none;
  }
}

.policy {
  a {
    color: #163152;
    text-decoration: none;
  }
}
