.page-header{
  background-color: rgba(0, 0, 0, 0.1);
  width: 1200px;
  margin: 0 auto;
}

.wrapper{
  display: flex;
}

.main-nav__list{
.site-list__item{
  list-style: none;
  a{
    color: #FFF;
    text-decoration: none;
  }

}
}
